<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 2_15-fixed-menu-and-flexible-content
    link(rel="stylesheet", href="all.css")
body
    .wrapper
        ul.sidemenu
            li 超便宜電視
            li 殺爆全場啦
            li 威振天下
            li 國士無雙
        .content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium eveniet nam ea eos sequi aliquid neque iure modi, aspernatur nulla, veniam placeat asperiores molestiae, aut expedita tempora molestias quaerat fuga! Quisquam dolorem odio, totam maxime cum magni inventore! Consequuntur pariatur, nemo dolor? Cumque laudantium, iusto voluptatibus beatae, nulla quos maxime ad, illum aliquid distinctio cupiditate. Voluptatem a odit suscipit! Cumque repellat eum distinctio, dolore omnis necessitatibus, reiciendis debitis quas, quos rem consequatur optio placeat libero. Ut rerum iste minima, ducimus voluptatem asperiores culpa, delectus non pariatur, nisi nobis eum totam amet eaque laudantium impedit nihil. Accusamus accusantium recusandae quo error.