<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title float-advanced-left-logo-right-menu
    link(rel="stylesheet", href="all.css")
body
    .wrapper
        .header
            a.icon(href="http://yahoo.com.tw")
                img(src="https://s1.yimg.com/rz/d/yahoo_frontpage_zh-Hant-TW_s_f_p_bestfit_frontpage_2x.png")
            ul.top-menu
                li
                    a 新聞
                li
                    a 政治
                li
                    a 運動
                li
                    a 拍賣
                li
                    a 社團
        .main
            .sidebar  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius officiis rerum veritatis aperiam distinctio similique voluptatem cum, hic excepturi amet. Quisquam sit alias numquam minima magni incidunt sed doloribus neque.
            .content 
                div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum accusantium assumenda molestias laboriosam at cupiditate, culpa quas numquam deleniti nostrum nihil error. Vero placeat, magni dicta architecto eveniet fugit numquam!
                div Ullam sapiente pariatur, cupiditate rerum non error aperiam velit quisquam et aliquid repudiandae a dolorem adipisci quidem eligendi dolor vitae nesciunt distinctio molestias ducimus numquam atque, cumque. Quam, repudiandae deserunt.
                div Deleniti harum, dignissimos, minima a at ad repellendus odio nemo provident vel in, praesentium sunt iste distinctio aperiam, placeat quod. Cupiditate quo cum, molestias velit atque accusantium! Ea tenetur, iusto.
                div Quibusdam et, itaque sint. Vitae ab reprehenderit distinctio dolores voluptate, voluptates, hic quae aspernatur repellat dignissimos accusamus vero sed quam voluptatem nam enim earum sit culpa sapiente voluptas? Est, tempore.
                div Delectus corporis sapiente culpa iste obcaecati reiciendis, fugiat aliquam facere, amet officia tempora expedita odio ut vero quo blanditiis dolor laudantium esse est itaque tenetur doloremque repellendus ipsa repudiandae, fuga?
            .aside
                div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quam consectetur porro ab inventore eius vel, libero consequuntur dolore sit reiciendis soluta odit animi facilis vero sed optio, laboriosam! Animi.
                div Quasi ipsa autem, labore beatae sit laudantium. Doloribus quidem laboriosam nobis eius animi totam sint iusto, asperiores, cupiditate voluptatum magnam optio eveniet omnis, ipsum, laborum error dolore unde officia consequuntur.
        .footer footer

    