<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title hahow-3-rwd-resize
    link(rel="stylesheet", href="all.css", type="text/css")
body
    .wrapper
        .block.a
            h4 A(RWD原理與應用-根據螢幕尺寸重新排版)
            img.icon(src="https://hahow.in/assets/images/logo.svg", alt="")
        .block.intro
            .sblocks 
                .sblock
                    img
                    h5 標題1 
                .sblock
                    img
                    h5 標題2
                .sblock
                    img
                    h5 標題3
        .block.b
            h4 B
            p 我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容
        .block.c
            h4 C
            p 我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容
        .block.d
            h4 D
            p 我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容
        .block.e
            h4 E
            p 我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容
        .block.f
            h4 F
            p 我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容
        .block.g
            h4 G
            p 我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容我是內容