<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title hahow-3-rwd-resize
    link(rel="stylesheet", href="all.css", type="text/css")
body
    .wrapper
        .block.a
            h4 A(RWD原理與應用-根據螢幕尺寸重新排版)
            img.icon(src="https://hahow.in/assets/images/logo.svg", alt="")
        .block.b
            h4 B(70%)
        .block.c
            h4 C(30%)
        .block.d
            h4 D(35%)
        .block.e
            h4 E(35%)
        .block.f
            h4 F(30%)
        .block.g
            h4 G(100%)